body {margin:0;padding:0;background-image: url(../images/base-bg.jpg);background-repeat: repeat-x;}
p,td { font-family:Arial, Helvetica, sans-serif; margin-top: 0px;}
#company_name {position: absolute;margin-top: -36px;font-size: 20px;margin-left: 10px;font-family: Tahoma, Arial;z-index: 2;}
h1 {font-size: 14px;font-weight: bold;text-transform: uppercase;margin: 0px;padding-top: 2px;}
.bottom_addr {font-size: 11px;padding-top: 4px;padding-right: 0px;padding-bottom: 4px;padding-left: 0px;background-color: #5b8db3;text-align: center;}
.l_cont {font-family: Tahoma, Arial;font-size: 12px;padding-top: 10px;padding-right: 5px;padding-bottom: 10px;padding-left: 0px;}
.bottom_menu {text-align: center;padding-top: 4px;padding-bottom: 4px;background-color: #3270a0;font-size: 11px;}
.bottom_menu a {text-decoration: underline;}
.menu {padding-right: 15px;padding-left: 15px;white-space: nowrap;font-size: 12px;font-weight: bold;}
.menu a{text-decoration: none;color: #FFFFFF;}
.menu a:hover {text-decoration: underline;}
#login-form {background-image: url(../images/login-form-bg.gif);position: absolute;width: 179px;height: 145px;margin-top: 13px;margin-left: 83px;}
.body_txt {text-align: justify;padding: 8px;vertical-align: top;background-image: url(../images/cbg.jpg);background-repeat: no-repeat;}
.login_form {height: 18px;width: 150px;font-size: 11px;padding-top: 3px;padding-left: 1px;border: 1px solid #b8d4ee;margin-left: 13px;}
.login_header {font-size: 14px;font-weight: bold;padding-left: 13px;padding-top: 12px;padding-bottom: 2px;text-transform: uppercase;}
.login_sm {font-size: 10px;font-family: Tahoma, Arial;padding-left: 13px;padding-top: 1px;vertical-align: bottom;}
.r_cont {font-family: Tahoma, Arial;font-size: 12px;padding-top: 10px;padding-right: 0px;padding-bottom: 10px;padding-left: 5px;}
#company_name_shadow {position: absolute;margin-top: -35px;font-size: 20px;margin-left: 11px;font-family: Tahoma, Arial;z-index: 1;}
#slogan{position: absolute;margin-top: -30px;font-size: 12px;margin-left: 168px;font-family: Arial, Helvetica, sans-serif;font-weight: bold;text-transform: uppercase;}